*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #FFFBDE;
}

:root {
    font-size: clamp(12px, calc(1rem + 0.5vw), 24px);
}

html,body{
    scroll-behavior: smooth;
    height: 100%;
    min-width: 600px;
    min-height: 400px;
    overflow-x: hidden;
}

.header {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px; 
    background-color: #749BC2;
    border-bottom: 2px solid #4682A9; 
    
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px; 
    background-color: #749BC2;
    text-align: center; 
    position: relative;
    bottom: 0;
    border-top: 2px solid #4682A9;
}

.left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.center {
    font-size: 2rem;
    width: 30%;
    display: flex;
    justify-content: center;
}

.right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.header-link {
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: 10px;
    border: 1px solid #4682A9;
    background-color: #91C8E4;
    text-decoration: none;
    color: inherit; 
}
.footer-link {
    text-decoration: none;
    color: inherit; 
}