<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div id="header"></div>
    <main>
        <div id="collegeProgress">
            <h1>To-Do!</h1>
            <ul id="todo">
                <li><input type="checkbox"> Fill out Account Information!</li>
                <li><input type="checkbox"> Start A College List.</li>
                <li><input type="checkbox"> Look at the Common App!</li>
                <li><input type="checkbox"> Ex.</li>
                <li><input type="checkbox"> Ex.</li>
                <li><input type="checkbox"> Ex.</li>
                <li><input type="checkbox"> Ex.</li>
                <li><input type="checkbox"> Ex.</li>
            </ul>
        </div>

        <div id="rightSide">
            <div id="move">
                <h1>Welcome</h1>
                <br></br>
                <h2>Guest</h2>
                <br></br>
                <p> You should totally sign up/in... </p>
            </div>
        </div>
    </main>
    <div id="footer"></div>
</body>


<script src="{{ url_for('static', filename='JS/global/loadTemplates.js') }}" defer></script>
<script src="{{ url_for('static', filename='JS/home/homeRightAnimation.js') }}" defer></script>
